.body{
    font-family: "Raleway", Helvetica, sans-serif;
}
.canvasjs-chart-credit {
    display: none;
}

.temp {
    font-size: 1.1em;
    text-align: right;
}

.temp-label {
    font-size: 1em;
}
.header{
    font-size: 5em;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 400;
}